@keyframes skeletonLoading {
    0% {
        left: -40%;
    }

    100% {
        left: 100%;
    }
}

@keyframes spinLoadingIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}