// ESSENTIALS
$background: #f4f0e3;
$foreground: #000000;
$primaryColor: #1d663e;

// GREEN
$primaryGreen: #1d663e;

// BLUE
$primaryBlue: #3960E3;

// GRAY
$primaryGray: #6E6E6E;

// RED
$primaryRed: #e54b4b;

// ORANGE
$primaryOrange: #EC8941;

// YELLOW
$primaryYellow: #d9be00;