.p-Plant {
    $allSectionsGap: 30px;

    .p-Plant--sections {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $allSectionsGap;
        margin-bottom: $allSectionsGap;

        .c-Section {
            max-width: 100%;
            min-width: 290px;
            flex: calc(50% - $allSectionsGap);

            @include MobileView {
                max-width: 100%;
                min-width: unset;
                flex: 1 1 calc(100% - $allSectionsGap);
            }
        }
    }

    .p-Plant--waterIcon,
    .p-Plant--leafIcon {
        font-size: 19px;
    }

    .p-Plant--waterIcon {
        color: var(--primaryBlue);
    }

    .p-Plant--leafIcon {
        color: var(--primaryGreen);
    }

    .p-Plant--healthHistoryChart {
        height: 300px !important;
    }

    .p-Plant--healthHistoryChart__tooltip {
        background: var(--background);
        border: 1px solid var(--primaryColor);
        padding: 7px 10px;
        border-radius: 4px;
        font-size: 12px;

        b {
            font-weight: 600;
        }
    }
}

.p-Plant--notFound {
    display: flex;
    flex-direction: column;
    align-items: center;

    .c-Icon {
        font-size: 70px;
        margin: 20px 0;
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            top: 0;
            bottom: 0;
            background: var(--primaryRed);
            transform: rotate(45deg) scale(1.5);
            border-radius: 99px;
            opacity: 0.6;
        }
    }
}