@import "./\(loading\)/loading.scss";

.p-Plants {
    display: flex;
    flex-direction: column;

    .p-Plants--list {
        flex-wrap: wrap;
        gap: 10px;
        display: flex;
        justify-content: center;

        .c-PlantCard {
            max-width: 30%;
            flex: 1 1 30%;

            @include TabletView {
                max-width: 48%;
                flex: 1 1 50%;
            }

            @include MobileView {
                max-width: 100%;
                flex: 1 1 100%;
            }
        }

        .p-Plants--list__empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;

            b {
                text-align: center;
                font-size: 14px;
            }

            .c-Icon {
                font-size: 39px;
                margin-top: 15px;
            }
        }
    }

    .p-Plants--loadMore {
        align-self: center;
        font-size: 12px;
        margin-top: 55px;
    }
}